<p class="blog-text">I use a PC that runs Linux. My default browser is Chrome. I made this website in that environment and it looked okay. I'm not a design genius but the photo on my homepage made me happy every time I looked at it, my headers were at the top of the page, footer at the foot...<span style="font-style:italic">or so I thought.</span></p>

<p class="blog-text">One day I showed it to a friend who uses a Mac and - to my horror - the footer was not behaving anything like it did on my computer! The 'toggle device' option on the Chrome DevToolkit hadn't uncovered this problem. It shows how the site looks on other devices and screen sizes but not other browsers.</p>

<p class="blog-text">I'm using Bootstrap for general styling on this site. It has the standard grid structure and some other nifty things. I've used Materialize on other projects, which has similar features. I had not used Flex anywhere before but it seemed like the solution to this problem.</p>

<p class="blog-text">There's some <%= link_to "decent documentation", "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Advanced_layouts_with_flexbox", class: "content-link" %> on flex containers on the Mozilla Developer Network. I got more practical information from this <%= link_to "cheatsheet", "http://www.sketchingwithcss.com/samplechapter/cheatsheet.html", class: "content-link" %> and from <%= link_to "this series", "https://www.youtube.com/watch?v=Y8zMYaD1bz0", class: "content-link" %> of YouTube videos.</p>

<p class="blog-text">It turns out flex box was really simple to implement. <span style="font-style:italic">I think.</span> I'm still looking at my own computer/environment. I'll be testing my progress this afternoon on a Mac at Dev Bootcamp just to make sure.</p>

<p class="blog-text"><span style="font-style:italic">Pretend this is hours passing....</span></p>

<p class="blog-text"><span style="font-weight:bold">It worked!</span> Looking at the site on the Macs at DBC, things seem to be where I want them. That cheatsheet I linked to above was all I needed. I'm a little embarrassed that I hadn't heard of flex before now...everyone I've talked to about this has been unimpressed. I don't mind though. The whole point of this dev adventure is learning new things and, pretty much by definition, that means I'm always learning stuff other people already know.</p>