<p class="blog-text">I'm just getting started on this project so this blog is currently a list of things I need to figure out to make it work:</p>

<ul>
  <li>Installing the raspberry pi OS on this miniSD card (they are <span style="font-style:italic">not kidding</span> with that 'mini').</li>
  <p class="blog-text">Spent the last couple of days mentoring at Dev Bootcamp so not a lot of progress...so far I've been downloading the Raspbian OS and formatting the SD card.</p>
  <li>Making the raspberry pi connect to the wifi here at home. (This looks like it'll be pretty easy, but it's a step in the process so it goes on the list.)</li>
  <li>Installing the camera</li>
  <li>Figuring out how to trigger the camera to take a picture and store the image</li>
  <li>Figuring out how to interpret the image</li>
  <li>Figuring out how to turn the raspberry pi into a web server</li>
  <li>Setting up the website</li>
  <li>DEPLOY</li>
</ul>

<p class="blog-text">Should be fun.</p>
