<div class="home-background">
  <h1 class="name">Heather Conklin, CFP</h1>
  <div class="info flex-container">
    <div class="box flex-body">
      <p class="bio">I'm a web developer who enjoys the mental rewards of writing beautiful, functional code.</p>
      <p class="bio">I get to create websites from scratch and figure out how to make them work while making the users' experience as smooth as possible.</p>
      <!-- <p class="bio">In my previous career as a personal financial planner, I assisted individuals and families in reaching their short- and long-term economic goals. My background gave me experience in asking deep questions, producing thorough analyses of complex problems and providing comprehensible explanations and context of technical issues for laypeople. It turns out these skills translate well to a career in technology and web development.</p> -->
    </div>
</div>