<div class="home-background">
  
  <div class="info flex-container">
    <div class="box flex-body">
      <p class="bio">This is my maternal grandmother and her sisters. Based on their apparent ages, it must have been taken in the late 1920s or early 1930s. When I got the digital copy, it was labeled "Fourth of July Parade", I <span style="font-style:italic">think</span> by my grandmother herself.</p>

      <p class="bio">My grandmother was the oldest of the four, so she's the one with the rocket(!), which seems to have a rudder(?)</p>

      <p class="bio">That side of the family were "makers" long before that was even a thing. Thanks for the inspiration, family.</p>
    </div>
</div>