<div class="project-content">
  <p>I created a website to manage registrations for the Christopher J. Katzenstein 7th Annual Memorial Golf Tournament, taking place on September 17, 2016. Participants can register to play, attend the dinner or sponsor the event. I deployed the site on Heroku (so there's a long load time if it's sleeping) and the organizers got the URL from GoDaddy and directed it there.</p>
  <p><%= link_to "www.ckatzgolf.com", "www.ckatzgolf.com", class: "content-link" %></p>

  <p>This is, in general, a pretty straightforward app. There's a user model so the organizers can login and view signup information. The models that are related to the registrations look like this:</p>
  <div class="schema">
    <%= image_tag("katz_golf_schema.png") %>
  </div>

</div>