<div class="projects-images">
  <div>
    <%= image_tag("gdmSplashScreen.png") %>
  </div>
  <div>
    <%= image_tag("katzgolf.png") %>
  </div>
  <div>
    <%= image_tag("Voter_bloc.png") %>
  </div>
  <div>
    <%= image_tag("surveyWidgetSchema.png") %>
  </div>
</div>