.blog-title {
  color: $dark-contrast-color;
}

.blog-subhead {
  color: $dark-contrast-color;
  font-size: 22px;
}

.blog-date {
  font-style: italic;
  font-size: 20px;
}

.blog-text {
  font-size: 20px;
}

.code-snapshot {
  margin-bottom: 4px;
  border: 1px solid $main-font-color;
}